---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Skills from '../components/Skills.astro';
import Work from '../components/Work.astro';
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />

    <main>
      <div id='home' class='h-screen hero-image'>
        <div
          class='max-w-[1000px] mx-auto px-8 flex flex-col justify-center h-full'
        >
          <p class='text-[#fff]'>Hi, my name is</p>
          <h1 class='text-4xl sm:text-7xl font-bold text-[#ccd6f6]'>
            Alex Grimes
          </h1>
          <h2 class='text-4xl sm:text-7xl font-bold text-[#8892b0]'>
            I am a Software Engineer.
          </h2>
          <p class='text-[#fff] py-4 max-w-[700px]'>
            I am a highly motivated and skilled software engineer with a passion
            for technology and problem-solving. I have years of experience in
            the industry, during which I have honed my skills in web
            development, industrial software, networking technologies, and
            software security.
          </p>
          <div>
            <button
              class='text-white group border-2 px-6 py-3 my-2 flex items-center hover:bg-[#31748f] hover:border-[#31748f]'
              >View Work
              <span class='group-hover:rotate-90 duration-300'>
                <i class='ml-3 fa-solid fa-arrowright'></i>
              </span>
            </button>
          </div>
        </div>
      </div>
      <Skills />
      <Work />
    </main>
  </body>
</html>
