---
import HeaderLink from './HeaderLink.astro';
---

<div
  class='fixed w-full h-[80px] flex justify-between items-center px-2 bg-black'
>
  <ul class='flex md:hidden'>
    <li class='px-2'>
      <HeaderLink href='/astro-portfolio/'>Home</HeaderLink>
    </li>
    <li class='px-2'>
      <HeaderLink href='/astro-portfolio/about'>About</HeaderLink>
    </li>
    <li class='px-2'>
      <HeaderLink href='/astro-portfolio/blog'>Blog</HeaderLink>
    </li>
    <li class='px-2'>
      <HeaderLink href='https://github.com/Alex-Grimes'>Github</HeaderLink>
    </li>
    <li class='px-2'>
      <HeaderLink href='https://www.linkedin.com/in/agrimes-sc/'>
        LinkedIn
      </HeaderLink>
    </li>
    <li class='px-2'>
      <HeaderLink href='mailto:alexgrimes.se@gmail.com'>Email</HeaderLink>
    </li>
  </ul>
</div>

<div class='hidden lg:flex fixed flex-col top-[35%] left-0'>
  <ul>
    <li
      class='w-[160px] h-[60px] flex justify-between items-center ml-[-100px] hover:ml-[-0px] duration-300 bg-[#333333]'
    >
      <HeaderLink
        class='flex justify-between items-center w-full pl-1 text-gray-300'
        href='/astro-portfolio/'
      >
        Home<i class='fa-solid fa-house w-9'></i>
      </HeaderLink>
    </li>
    <li
      class='w-[160px] h-[60px] flex justify-between items-center ml-[-100px] hover:ml-[-0px] duration-300 bg-[#31748f]'
    >
      <a
        class='flex justify-between items-center w-full pl-1 text-gray-300'
        href='https://www.linkedin.com/in/agrimes-sc/'
        target='_blank'
        rel='noopener noreferrer'
      >
        Linkedin<i class='fa-brands fa-linkedin w-9'></i>
      </a>
    </li>

    <li
      class='w-[160px] h-[60px] flex justify-between items-center ml-[-100px] hover:ml-[-0px] duration-300 bg-[#333333]'
    >
      <a
        class='flex justify-between items-center w-full pl-1 text-gray-300'
        href='https://github.com/Alex-Grimes'
        target='_blank'
        rel='noopener noreferrer'
      >
        GitHub<i class='fa-brands fa-github w-9'> </i>
      </a>
    </li>

    <li
      class='w-[160px] h-[60px] flex justify-between items-center ml-[-100px] hover:ml-[-0px] duration-300 bg-[#31748f]'
    >
      <a
        class='flex justify-between items-center w-full pl-1 text-gray-300'
        href='mailto:alexgrimes.se@gmail.com'
        target='_blank'
        rel='noopener noreferrer'
      >
        Email<i class='fa-solid fa-envelope w-9'></i>
      </a>
    </li>

    <li
      class='w-[160px] h-[60px] flex justify-between items-center ml-[-100px] hover:ml-[-0px] duration-300 bg-[#333333]'
    >
      <HeaderLink
        class='flex justify-between items-center w-full pl-1 text-gray-300'
        href='/astro-portfolio/blog'
      >
        Blog<i class='fa-solid fa-blog w-9'></i>
      </HeaderLink>
    </li>
    <li
      class='w-[160px] h-[60px] flex justify-between items-center ml-[-100px] hover:ml-[-0px] duration-300 bg-[#31748f]'
    >
      <a
        class='flex justify-between items-center w-full pl-1 text-gray-300'
        href='/astro-portfolio/about'
        target='_blank'
        rel='noopener noreferrer'
      >
        About Me<i class='fa-solid fa-info w-9'></i>
      </a>
    </li>
  </ul>
</div>

<script src='https://kit.fontawesome.com/0ec89d2676.js' crossorigin='anonymous'
></script>
